@model SubscriptionControl.Models.Subscription

@{
    ViewData["Title"] = "Excluir Serviço Contratado";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <h3>Tem certeza que deseja excluir este serviço de Streaming: <strong>@Model.ServiceSubscription</strong>, de valor: <strong>@Model.Price</strong> no plano: <strong>@Model.PlanType</strong>?</h3>
    <hr />
</div>

<div class="row justify-content-center">
    <div class="col-md-8">
        <!-- Aumentando a largura da coluna -->
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ServiceSubscription)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ServiceSubscription)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.PlanType)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.PlanType)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.StartSubscription)
            </dt>
            <dd class="col-sm-8">
                @Model.StartSubscription.ToString("dd/MM/yyyy")
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.PaymentMethod)
            </dd>
        </dl>

        <form asp-action="Delete" class="text-center">
            <input type="hidden" asp-for="Id" />
            <div>
                <input type="submit" value="Excluir" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-warning">Voltar</a>
            </div>
        </form>
    </div>
</div>
